.Rproj.user
.Rhistory
.RData
.Ruserdata
inst/doc
inst/Manifest.toml
/doc/
validate/
paper/
notes/
/Meta/
docs
/tests/testthat/testdata/insightmaker_models/delay
/tests/testthat/testdata/insightmaker_models/fix
