.Rproj.user
.Rhistory
.RData
.Ruserdata
inst/doc
inst/Manifest.toml
/doc/
validate/
paper/
notes/
/Meta/
docs
tests/testthat/testdata/insightmaker/delay
tests/testthat/testdata/insightmaker/fix
tests/testthat/testdata/psychomodels
^cran-comments\.md$
.claude/
